<div class="row">
  <div class="row alert alert-warning">
    <p class="text-lg-center">FILE ADDING SECTION</p>
    <div class="col-sm-6">
      <label class="control-label" for="username">Specify how many files:</label>
      <div class="controls input-group input-group-lg">
        <span class="input-group-addon">UserName</span>
        <input class="form-control" id="username" name="username" type="text" ng-model="$ctrl.username"><br/><br/>
<!--
        <input id="incrementer" name="incrementer" type="number" ng-model="$ctrl.incrementer" ng-change="$ctrl.uploaderGenerator($ctrl.incrementer)" class="form-control" min="0" max="99" ng-pattern="/^\d+$/">

        ng-change="$ctrl.update($files)"
-->
        <!--<span class="error-text" ng-show="vm.form.equipmentForm.incrementer.$dirty && vm.form.equipmentForm.incrementer.$invalid">Must Enter a Number (ex: 2) </span>-->
      </div>
    </div>
  </div>

  <div class="btn btn-secondary" ngf-select="$ctrl.upload($files)" ngf-multiple="true">Select File</div>
  <br>
  <br>
  Drop File:
  <div ngf-drop ngf-select ng-model="$ctrl.files" ng-change="$ctrl.update($ctrl.files)" class="drop-box"
       ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
       accept="image/*,application/pdf"
       ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>

  <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
  <br>
</div>