<nav class="navbar navbar-dark" style="background-color:#a6b779">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#responsiveCollapse">
    ☰
  </button>
  <div class="collapse navbar-toggleable-xs" id="responsiveCollapse">
    <a class="navbar-brand" href="#">HomePage</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active"><a class="nav-link" ui-sref="home">Home</a></li>
      <li class="nav-item active"><a class="nav-link" ui-sref="calibration.list">EquipmentList</a></li>
      <li class="nav-item active"><a class="nav-link" ui-sref="calibration.create">Create Equipment</a></li>
      <li class="nav-item active"><a class="nav-link" ui-sref="calibration.dossierPane">Uploader Experiment</a></li>
      <!--<li class="nav-item active"><a class="nav-link" ui-sref="equipmentForm">EquipmentForm</a></li>-->
      <li class="nav-item active"><a class="nav-link" ui-sref="equipmentRecord">Equipment-Record-Form</a></li>
      <li class="nav-item active"><a class="nav-link" ui-sref="about">About</a></li>
    </ul>
  </div>
</nav>