/* restore "body" styling that were changes by "jasmine.css"... */
//@include make-col-offset(2);

@import '../../../public/lib/bootstrap/scss/bootstrap';

body { background-color: white; padding: 0; margin: 8px; }
/* ... but remain the "jasmine.css" styling for the Jasmine reporting */
.jasmine_reporter { background-color: #eeeeee; padding: 0; margin: 0; }

.directive {
  border: 5px solid #F5BF6E;
  padding: 10px;
}

.gray {
  color: gray;
}
.italic-small {
  font-style: italic;
  font-size: 8pt;
}
.floatright {
  float: right;
}
.right {
  text-align: right;
}
.nopad {
  padding: 0px !important;
}
.inline-block {
  display: inline-block !important;
  width: auto;
}

.stripedblue {
  //color:#007FFF;
  background-color:#DBE9F4;
}
.stripedbeige {
  //color:#CC0000;
  background-color:#F5F5DC;
}

.error-text {
  color: red;
}

.valign-center {
  vertical-align: middle !important;
}

.cell-center {
  text-align: center;
}

.btn-no-outline {
  background-color: transparent;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
// Alignment for every column in row https://github.com/twbs/bootstrap/issues/17122

.mt-0 {
  margin-top: 0 !important;
}
.mt-1 {
  margin-top: ($spacer-y*0.5) !important;
}
.mt-2 {
  margin-top: ($spacer-y*1) !important;
}
.mt-3 {
  margin-top: ($spacer-y*1.5) !important;
}
.mt-4 {
  margin-top: ($spacer-y*2) !important;
}
.mt-5 {
  margin-top: ($spacer-y*2.5) !important;
}
.mt-6 {
  margin-top: ($spacer-y*3) !important;
}
/*
fieldset {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
  min-width: -webkit-min-content;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
}
*/

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
.statusAlert { color: red };
