<div class="row">

  <form id="frmDoc" name="frmDocument" ng-submit="vm.upload()" class="form-horizontal form-bordered" enctype="multipart/form-data" >
    <fieldset>
      <div class="form-group">
        <label class="col-md-4 control-label" for="file">Document<span class="text-danger">*</span></label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="file" name="file" id='file' required="required" />
          </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group form-actions">
      <div class="col-md-8 col-md-offset-4">
        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-upload"></i> submit</button>
      </div>
    </div>
  </form>
 <!-- <div class="col-md-3">
    <h3>Select files</h3>
    <div ng-show="uploader.isHTML5">
      &lt;!&ndash; 3. nv-file-over uploader="link" over-class="className" &ndash;&gt;
      <div class="well my-drop-zone" nv-file-over="" uploader="vm.uploader">
        Base drop zone
      </div>

      &lt;!&ndash; Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" &ndash;&gt;
      <div nv-file-drop="" uploader="vm.uploader" options="{ url: '/foo' }">
        <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
          Another drop zone with its own settings
        </div>
      </div>
    </div>

    &lt;!&ndash; Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" &ndash;&gt;
    Multiple
    <input type="file" nv-file-select="" uploader="vm.uploader" multiple  /><br/>

    Single
    <input type="file" nv-file-select="" uploader="vm.uploader" />
  </div>

  <div class="col-md-9" style="margin-bottom: 40px">

    <h3>Upload queue</h3>
    <p>Queue length: {{ vm.uploader.queue.length }}</p>

    <table class="table">
      <thead>
      <tr>
        <th width="50%">Name</th>
        <th ng-show="vm.uploader.isHTML5">Size</th>
        <th ng-show="vm.uploader.isHTML5">Progress</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in vm.uploader.queue">
        <td><strong>{{ item.file.name }}</strong></td>
        <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
        <td ng-show="vm.uploader.isHTML5">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>
        <td class="text-center">
          <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
          <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
          <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>
        <td nowrap>
          <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
            <i class="fa fa-upload"></i> Upload
          </button>
          <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
            <i class="fa fa-ban-circle"></i> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
            <i class="fa fa-trash"></i> Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress" style="">
          <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-s" ng-click="vm.uploader.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
      </button>
      <button type="button" class="btn btn-warning btn-s" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-s" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
      </button>
    </div>

  </div>-->

</div>

    <!--<label for="file_uploader" class="btn">Browse..</label>-->
  <!--<input id="file_uploader" type="file" nv-file-select="" style="visibility:hidden;" uploader="vm.uploader" multiple />-->