<div class="row">
  <div class="col-lg-7">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" ng-model="vm.searchText" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
    </div>
  </div>
  <div class="col-lg-5 text-center">
    <button class="btn btn-lg btn-primary" type="button" data-ui-sref="calibration.create">
      <i class="fa fa-plus"></i>
      Add equipment
    </button>
    <button class="btn btn-lg btn-primary" type="button">
      <i class="fa fa-paperclip"></i>
      Add record
    </button>
  </div>
  <span ng-hide="!vm.searchText"> Search for "{{vm.searchText}}" </span>
  <span ng-hide="vm.searchText"> Search... </span>
</div>