<div class="row">
  <div class="col-sm-2">
    <div class="form-group">
      <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{(vm.state.file_id || vm.equipment.asset_id) ? 'Update' : 'Create'}}</button>
    </div>
  </div>
  <div class="col-sm-2" ng-hide="!(vm.state.file_id || vm.state.asset_id)" ng-if="!vm.state.asset_id">
    <div class="form-group">
      <button ng-if="vm.state.file_id" type="button" class="btn btn-warning btn-lg" data-ui-sref="calibration.dossierCreate({ asset_id: vm.equipment.asset_id })"><i class="fa fa-paperclip"></i>&nbsp; Record</button>
    </div>
  </div>
  <div class="pull-right" ng-hide="!(vm.state.file_id || vm.state.asset_id)">
    <div class="form-group">
      <button ng-if="vm.state.file_id" type="button" class="btn btn-danger btn-lg" data-ng-click="vm.remove()"><i class="fa fa-remove"></i>&nbsp; Remove</button>
      <button ng-if="vm.state.asset_id" type="button" class="btn btn-danger btn-lg" data-ng-click="vm.remove()"><i class="fa fa-trash"></i>&nbsp; Remove</button>
    </div>
  </div>
</div>