<div>

  <div ng-if="vm.pref===2">
    <h2>{{vm.title}}</h2>
    <span>Pref: DISPLAY #{{vm.pref}}</span>
    <ul ng-repeat="marvel in vm.marvels">
      <li>{{marvel.name}} {{marvel.present}}</li>
    </ul>
  </div>
  <div ng-if="vm.pref===1">
    <div>
      <h2>{{vm.title}}</h2>
      <span>Pref: DISPLAY #{{vm.pref}}</span>
      <table border="1" style="color:#166CD7">
        <thead>
        <tr>
          <th>Name</th>
          <th>Skill</th>
          <th>Appear</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="marvel in vm.marvels">
          <td>{{marvel.name}}</td>
          <td>{{marvel.attribute}}</td>
          <td>{{marvel.present}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
