<section>
  <div class="page-header">
    <h1>{{vm.equipment.asset_id ? 'Edit Equipment' : 'New Equipment'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.equipmentForm" class="" ng-submit="vm.save(vm.form.equipmentForm.$valid)" ng-init="fieldTitle=vm.equipment.asset_id ? 'Update existing data' : 'Enter new data'" novalidate>
      <fieldset>
        <legend>{{fieldTitle}}</legend>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        <div class="form-group" show-errors>
          <div class = "row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="model">Model</label>
                <div class="controls">
                  <input id="model" ng-readonly="vm.equipment.asset_id" name="model" type="text" ng-model="vm.equipment.model" uib-typeahead="model for model in vm.hints.model | filter:$viewValue | limitTo:8" class="form-control form-control-lg" placeholder="model" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="assetNumber">Asset Number</label>
                <div class="controls">
                  <input id="assetNumber" ng-readonly="vm.equipment.asset_id" name="assetNumber" type="text" ng-model="vm.equipment.asset_number" uib-typeahead="asset_number for asset_number in vm.hints.asset_number | filter:$viewValue | limitTo:8" class="form-control form-control-lg" placeholder="asset number" autocomplete="off" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="location">Location</label>
                <div class="controls">
                  <input id="location" name="location" type="text" ng-model="vm.equipment.ECMS_Location.desc" uib-typeahead="location for location in vm.hints.location | filter:$viewValue | limitTo:8" class="form-control form-control-lg" autocomplete="off" placeholder="location">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="last_cal">Last Cal</label>
                <div class="controls">
                  <input id="last_cal" name="last_cal" type="text" ng-model="vm.equipment.last_cal" class="form-control form-control-lg" placeholder="last_cal">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="schedule">Schedule</label>
                <div class="controls">
                  <input id="schedule" name="schedule" type="text" ng-model="vm.equipment.schedule" class="form-control form-control-lg" placeholder="schedule">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="next_cal">Next Cal</label>
                <div class="controls">
                  <input id="next_cal" name="next_cal" type="text" ng-model="vm.equipment.next_cal" class="form-control form-control-lg" placeholder="next_cal">
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class = "row" ng-hide="vm.hideDossierList">
            <div class="col-sm-12" ng-repeat="document in vm.equipment.ECMS_Dossiers">
              <div class="row alert alert-info text-xs-left">Dossier #{{$index+1}}
                <!--<button ng-click="vm.dossierToggle(document.hide)">(+|-)</button>-->
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="file">File</label>
                  <div class="controls">
                    <input id="file" name="file" type="text" ng-model="document.file" ng-readonly="vm.equipment.asset_id" class="form-control" placeholder="file">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="filename">filename</label>
                  <div class="controls">
                    <input id="filename" name="filename" type="text" ng-model="document.filename" class="form-control" placeholder="filename">
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label" for="createdAt">Uploaded Date</label>
                  <div class="controls">
                    <input id="createdAt" name="createdAt" type="text" ng-model="document.createdAt" ng-readonly="vm.equipment.asset_id" class="form-control" placeholder="createdAt">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="updatedAt">updatedAt</label>
                  <div class="controls">
                    <input id="updatedAt" name="updatedAt" type="text" ng-model="document.updatedAt" ng-readonly="vm.equipment.asset_id" class="form-control" placeholder="updatedAt">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" ng-hide="!vm.useFileUploader">
          <div class="row alert alert-warning">
            <p class="text-lg-center">FILE ADDING SECTION</p>
            <div class="col-sm-6">
              <label class="control-label" for="incrementer">Specify how many files:</label>
              <div class="controls input-group input-group-lg">
                <span class="input-group-addon">Number</span>
                <input id="incrementer" name="incrementer" type="number" ng-init="vm.incrementer=0" ng-model="vm.incrementer" class="form-control" min="0" max="99" ng-pattern="/^\d+$/">
                <!--<span class="error-text" ng-show="vm.form.equipmentForm.incrementer.$dirty && vm.form.equipmentForm.incrementer.$invalid">Must Enter a Number (ex: 2) </span>-->
              </div>
            </div>
          </div>
          <!--<div ng-hide="!vm.incrementer">-->
            <!--<span ng-init="vm.equipment.documents = []"></span>-->
            <div ng-repeat="document in vm.equipment.documents">
              <div class = "row" id="documentID">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="control-label" for="documentFile">Uploader Pane #{{ $index+1 }}</label>
                    <div class="controls input-group input-group-lg">
                      <input id="documentFile" name="file" type="text" ng-model="document.file" class="form-control" placeholder="Browse..">{{ document.file }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <!--</div>-->
        </div>

        <!-- File Uploader -->
        <div class="row" ng-hide="vm.useFileUploader">
          <div class="row alert alert-warning">Upload calibration.equipment.asset file using the inputs below</div>
          <div class = "row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="fileUploader">Uploader Pane</label>
                <div class="controls input-group input-group-lg">
                  <input id="fileUploader" name="file" type="text" ng-model="vm.equipment.file" class="form-control" placeholder="Browse..">
                </div>
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{vm.equipment.asset_id ? 'Update' : 'Create'}}</button>
            </div>
          </div>
        </div>
        <div ng-messages="vm.form.equipmentForm.incrementer.$error" ng-if="vm.form.equipmentForm.incrementer.$dirty && vm.form.equipmentForm.incrementer.$invalid" role="alert">
          <p class="help-block error-text" ng-message="pattern">Check number input.</p>
        </div>
      </fieldset>
    </form>
  </div>
</section>