<section>
  <div class="container">
    <div class="page-header">
      <h1>{{vm.equipment.asset_id ? 'Edit Equipment' : 'New Equipment'}}</h1>
    </div>
    <div class="col-md-12">
      <form name="vm.form.equipmentForm" class="" ng-submit="vm.save(vm.form.equipmentForm.$valid)" ng-init="fieldTitle=vm.equipment.asset_id ? 'Update existing data' : 'Enter new data'" novalidate>
        <fieldset>
          <legend>{{fieldTitle}}</legend>
          <div ng-show="vm.error" class="text-danger">
            <strong ng-bind="vm.error"></strong>
          </div>
          <template-form-component></template-form-component>
          <!--<uploader-mockup-component vm="vm"></uploader-mockup-component>-->
          <uploader-component vm="vm"></uploader-component>
          <!-- File Uploader -->
          <!--<file-pane-component equipment="vm.equipment"></file-pane-component>-->

          <br>
          <!--<dossiers-list1-component equipment="vm.equipment"></dossiers-list1-component>-->
          <form-actions-component equipment="vm.equipment" state="vm.state" remove="vm.remove"></form-actions-component>

          <div ng-messages="vm.form.equipmentForm.incrementer.$error" ng-if="vm.form.equipmentForm.incrementer.$dirty && vm.form.equipmentForm.incrementer.$invalid" role="alert">
            <p class="help-block error-text" ng-message="pattern">Check number input.</p>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>