<section>
  <div class="page-header">
    <h1>{{vm.equipment.asset_id ? 'Edit Equipment' : 'New Equipment'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.equipmentForm" class="" ng-submit="vm.save(vm.form.equipmentForm.$valid)" ng-init="fieldTitle=vm.equipment.asset_id ? 'Update existing data' : 'Enter new data'" novalidate>
      <fieldset>
        <legend>{{fieldTitle}}</legend>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        <div class="form-group" show-errors>
          <div class = "row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="model">Model</label>
                <div class="controls">
                  <input id="model" ng-readonly="vm.equipment.asset_id" name="model" type="text" ng-model="vm.equipment.model" uib-typeahead="model for model in vm.hints.model | filter:$viewValue | limitTo:8" class="form-control form-control-lg" placeholder="model" autocomplete="off">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="assetNumber">Asset Number</label>
                <div class="controls">
                  <input id="assetNumber" ng-readonly="vm.equipment.asset_id" name="assetNumber" type="text" ng-model="vm.equipment.asset_number" uib-typeahead="asset_number for asset_number in vm.hints.asset_number | filter:$viewValue | limitTo:8" class="form-control form-control-lg" placeholder="asset number" autocomplete="off" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="location">Location</label>
                <div class="controls">
                  <input id="location" name="location" type="text" ng-readonly="vm.locationDisabled" ng-model="vm.equipment.ECMS_Location.desc" uib-typeahead="location for location in vm.hints.location | filter:$viewValue | limitTo:8" class="form-control form-control-lg" autocomplete="off" placeholder="location">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="last_cal">Last Cal</label>
                <div class="controls">
                  <input id="last_cal" name="last_cal" type="text" ng-model="vm.equipment.last_cal" class="form-control form-control-lg" placeholder="last_cal">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="schedule">Schedule</label>
                <div class="controls">
                  <input id="schedule" name="schedule" type="text" ng-model="vm.equipment.schedule" class="form-control form-control-lg" placeholder="schedule">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="next_cal">Next Cal</label>
                <div class="controls">
                  <input id="next_cal" name="next_cal" type="text" ng-model="vm.equipment.next_cal" class="form-control form-control-lg" placeholder="next_cal">
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <dossiers-list1-component></dossiers-list1-component>
        </div>
        <uploader-mockup-component></uploader-mockup-component>
        <!-- File Uploader -->
        <!--<file-pane-component></file-pane-component>-->

        <br>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{vm.equipment.asset_id ? 'Update' : 'Create'}}</button>
            </div>
          </div>
        </div>
        <div ng-messages="vm.form.equipmentForm.incrementer.$error" ng-if="vm.form.equipmentForm.incrementer.$dirty && vm.form.equipmentForm.incrementer.$invalid" role="alert">
          <p class="help-block error-text" ng-message="pattern">Check number input.</p>
        </div>
      </fieldset>
    </form>
  </div>
</section>