<section>
  <br>
  <div class="page-header">
    <h1>Equipments</h1>
  </div>
  <br>
  <div class="list-group">
    <div class="row">
      <div class="col-lg-7">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" ng-model="vm.searchText" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
      <div class="col-lg-5 text-center">
        <button class="btn btn-lg btn-primary" type="button" data-ui-sref="equipments.create">
          <i class="fa fa-plus"></i>
          Add equipment
        </button>
        <button class="btn btn-lg btn-primary" type="button">
          <i class="fa fa-paperclip"></i>
          Add record
        </button>
      </div>
      <span ng-hide="!vm.searchText"> Search for "{{vm.searchText}}" </span>
      <span ng-hide="vm.searchText"> Search... </span>
    </div>
  <br>
  <div class="row">
    <table class="table table-bordered col-xs-12 table-middle">
      <thead>
      <tr class="bg-info">
        <th class="text-nowrap" rowspan="2">#</th>
        <th class="text-nowrap" rowspan="2">Asset Tag Number</th>
        <th class="text-nowrap" rowspan="2">Model Number</th>
        <th class="text-nowrap" rowspan="2">Location</th>
        <th class="text-nowrap" rowspan="2">Last Calibration Date</th>
        <th class="text-nowrap" rowspan="2">Next Calibration Date</th>
        <th class="text-nowrap" colspan="4">File Info</th>
        <th class="text-nowrap" rowspan="2">Equipment</th>
        <th class="text-nowrap" rowspan="2">Actions</th>
      </tr>
      <tr class="bg-info">
        <th class="text-nowrap">File</th>
        <th class="text-nowrap">CreatedAt</th>
        <th class="text-nowrap">UpdatedAt</th>
        <th class="text-nowrap">Dossier</th>
      </tr>
      </thead>
      <tbody ng-repeat="equipment in vm.equipments | filter:vm.searchText" ng-class-even="'stripedblue'" ng-class-odd="'stripedbeige'">
        <tr>
          <td scope="row" rowspan="{{equipment.ECMS_Attributes.length}}">{{$index+1}}</td>
          <td rowspan="{{equipment.ECMS_Attributes.length}}" data-ui-sref="equipments.view({ asset_id: equipment.asset_id })">
            <a href="//asset#{{ equipment.asset_id }}">{{equipment.asset_number}}</a>
          </td>
          <td rowspan="{{equipment.ECMS_Attributes.length}}">{{equipment.model}}</td>
          <td rowspan="{{equipment.ECMS_Attributes.length}}">{{equipment.ECMS_Location.desc}}</td>
          <td rowspan="{{equipment.ECMS_Attributes.length}}">
            <button type="button" class="btn btn-info" ng-click="changeCalDate()">{{equipment.last_cal | date:'MM/dd/yyyy'}}</button>
          </td>
          <td rowspan="{{equipment.ECMS_Attributes.length}}">{{equipment.next_cal | date:'MM/dd/yyyy'}}</td>
          <td data-ui-sref="equipments.dossierView({ file_id: equipment.ECMS_Attributes[0].file_id })"><a href="//file#{{ equipment.ECMS_Attributes[0].file_id }}">{{equipment.ECMS_Attributes[0].filename}}</a></td>
          <td>{{equipment.ECMS_Attributes[0].createdAt}}</td>
          <td>{{equipment.ECMS_Attributes[0].updatedAt}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-lg" ng-click="vm.remove({ file_id: equipment.ECMS_Attributes[0].file_id })"><i class="fa fa-remove"></i>&nbsp; file#{{ equipment.ECMS_Attributes[0].file_id }}</button>
          </td>
          <td rowspan="{{equipment.ECMS_Attributes.length}}">
            <button type="button" class="btn btn-danger btn-lg" ng-click="vm.remove({ asset_id: equipment.asset_id })"><i class="fa fa-trash"></i>&nbsp; equipment</button>
          </td>
          <td rowspan="{{equipment.ECMS_Attributes.length}}">
            <button type="button" class="btn btn-warning btn-lg" data-ui-sref="equipments.dossierCreate({ asset_id: equipment.asset_id })"><i class="fa fa-paperclip"></i>&nbsp; Record</button>
          </td>
        </tr>
        <tr data-ng-repeat="document in equipment.ECMS_Attributes | limitTo:20:1">
          <!--<tr ng-show="displayFile" ng-init="displayFile=false">-->
          <!--<td>File content <i>{{document.file | json}}</i></td>-->
          <td data-ui-sref="equipments.dossierView({ file_id: document.file_id })"><a href="//file#{{ document.file_id }}"><i>{{document.filename}}</i></a></td>
          <td data-ng-bind="document.createdAt"></td>
          <td data-ng-bind="document.updatedAt"></td>
          <td>
            <button type="button" class="btn btn-danger btn-lg" ng-click="vm.remove({ file_id: document.file_id })"><i class="fa fa-remove"></i>&nbsp; file#{{ document.file_id }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</section>