<section>
  <div class="page-header">
    <h2>{{vm.equipment.asset_id ? 'Add Files to an existing Calibration>Equipment>Model|Asset' : 'New Equipment'}}</h2>
  </div>
  <div class="col-md-12">
    <form name="vm.form.equipmentForm" class="" ng-submit="vm.save(vm.form.equipmentForm.$valid)" novalidate>
      <fieldset>
        <legend>{{fieldTitle}}</legend>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        <div class="form-group" show-errors>
          <div class = "row">
            <div class="col-sm-4 form-group">
              <label class="control-label" for="assetNumber">label1</label>
              <div class="controls input-group">
                <span class="input-group-addon">Asset Number</span>
                <input id="assetNumber" ng-readonly="vm.equipment.asset_id" name="assetNumber" type="text" ng-model="vm.equipment.asset_number" class="form-control" placeholder="assetNumber" required>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label class="control-label" for="model">label2</label>
              <div class="controls input-group">
                <span class="input-group-addon">Model</span>
                <input id="model" ng-readonly="vm.equipment.asset_id" name="model" type="text" ng-model="vm.equipment.model" class="form-control" placeholder="model">
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label class="control-label" for="location">label3</label>
              <div class="controls input-group">
                <span class="input-group-addon">Location</span>
                <input id="location" name="location" type="text" ng-model="vm.equipment.ECMS_Location.desc" class="form-control" placeholder="location">
              </div>
            </div>
          </div>
        </div>

        <!--File Uploader http://nervgh.github.io/pages/angular-file-upload/examples/simple/ -->
        <div class="row" ng-hide="vm.hideFileUploader">
          <div class="row alert alert-warning">Upload calibration.equipment.asset file using the inputs below</div>
          <div class = "row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="fileUploader">Uploader Pane</label>
                <div class="controls input-group input-group-lg">
                  <span class="input-group-addon"><i class="fa fa-upload"></i></span>
                  <input id="fileUploader" name="createdAt" type="text" ng-model="attribute.file" class="form-control" placeholder="Browse..">
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>