<section>
  <p><strong>viewDossier</strong> page {{vm.pageTitle}}</p>
  <div class="page-header">
    <equipment-details-component></equipment-details-component>
    <br>
    <dossiers-list-view-component></dossiers-list-view-component>
  </div>
  <view-actions-component></view-actions-component>
  <user-interaction-info-component></user-interaction-info-component>
  <!--  <heroes-list-component capcom='kaban' pref='2' board="'heroes list'">HEROES- 2 sets of contents OKAY</heroes-list-component>
    <marvels-list-component marvels='marvels' pref="pref" title='xyz'>PREF & TITLE SEEM HAVING NO EFFECT ON ATTEMPT TO OVERRIDE</marvels-list-component>
    <h2 ng-click="vm.reverseName()">Hey {{vm.name}}, Click me to reverse your name</h2>
    <div name-input-component class='directive'></div>-->
</section>