<section>
  <div class="container">
    <div class="page-header">
      <p><strong>viewEquipment</strong> page {{vm.pageTitle}}</p>
    </div>

    <equipment-details-component equipment="vm.equipment"></equipment-details-component>
    <br>
    <dossiers-list-view-component state="vm.state" equipment="vm.equipment" dossierRemove="vm.dossierRemove"></dossiers-list-view-component>
    <br>

    <view-actions-component equipment="vm.equipment" state="vm.state" remove="vm.remove"></view-actions-component>
    <user-interaction-info-component></user-interaction-info-component>
  </div>
</section>