<section>
  <p>viewEquipment page {{vm.pageTitle}}</p>
  <div class="page-header">
    <h1>{{vm.equipment.asset_number}}</h1>
    <h3 data-ng-bind="vm.equipment.model"></h3>
    <h3 data-ng-bind="vm.equipment.ECMS_Location.desc"></h3>
    <h3 data-ng-bind="vm.equipment.ECMS_Attributes[0].last_cal"></h3>
    <h3 data-ng-bind="vm.equipment.ECMS_Attributes[0].next_cal"></h3>
    <h3>File content <i>{{vm.equipment.ECMS_Attributes[0].file | json}}</i></h3>
  </div>
  <div>
    <a class="btn btn-lg btn-primary"
       data-ui-sref="equipments.edit({ location_id: vm.equipment.location_id })">
      <i class="glyphicon glyphicon-edit"></i>Edit
    </a>
    <a class="btn btn-lg btn-danger" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>Remove
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.equipment.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.equipment.user"
            data-ng-bind="vm.equipment.user.displayName"></span>
      <span data-ng-if="!vm.equipment.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.equipment.content"></p>
</section>